<aside>
    Support the <a href="https://www.tugsa.org/strike">Temple University Graduate Students&apos; Association strike</a>.
</aside>

<style>
    aside {
        --tugsa-strike-green: #a4ff65;
        background-color: var(--tugsa-strike-green);
        color: #000;
        font-family: var(--font-accent);
        font-size: var(--step--1);
        padding: var(--space-xs);
    }

    a {
        color: inherit;
    }
</style>