<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{% block title %}Cameron Messinides{% endblock %}</title>
		<!-- Stylesheets -->
		{% block stylesheets -%}
			<link rel="stylesheet" href="/assets/global.css">
		{%- endblock %}
		<!-- Scripts -->
		{%- block scripts %}{% endblock %}
		<!-- Metadata -->
		{%- block headmeta %}{% endblock %}
	</head>
	<body>
		{%- block content %}{% endblock -%}
	</body>
</html>
