extends ../../base

include ../../html-head
include ../../case-study

block pageTitle
	+pageTitle(projects.findByHref("kenyon-collegian-web").title)

block pageDescription
	+pageDescription(projects.findByHref("kenyon-collegian-web").description)

block content
		+caseStudy(projects.findByHref("kenyon-collegian-web"))
