---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Colophon">
	<div class="grid">
		<div class="container flow">
			<h1>Colophon</h1>
			<p>
				This site is built with <a href="https://astro.build">Astro</a>.
				The font is Times New Roman.
			</p>
			<p>
				Credit to <a href="https://garden.bradwoods.io">Brad Woods</a> for
				the halftone effect, copied largely from his excellent <a
					href="https://garden.bradwoods.io/notes/css/blend-modes"
					>CSS Blend Modes</a
				> guide.
			</p>
		</div>
	</div>
</Layout>
