---
import Layout from '../layouts/Layout.astro';
import TUGSABanner from '../components/timely/TUGSABanner.astro';
---

<Layout title="Cameron Messinides">
	<div class="flow container">
		<main class="flow">
			<h1>Cameron Messinides</h1>
			<p>
				I&apos;m a writer, designer, and programmer based in Philadelphia, where I enjoy playing pickup basketball, DMing D&amp;D adventures, and hacking on programming languages.
			</p>
			<TUGSABanner />
		</main>
	</div>
</Layout>

<style>
	.container {
		margin: auto;
		padding: var(--space-s-l) var(--space-s);
		max-width: var(--line-length-readable);
	}
</style>
