---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import site from "../data/site.json";
---

<Layout title="Home">
	<div class="grid">
		<Hero
			src="/philly-skyline.jpg"
			alt="The Philly skyline, featuring the Museum of Art, halftone effect."
			focalY="30%"
		/>
		<div class="container">
			<div class="intro flow">
				<h1>{site.name}</h1>
				<p>
					I&rsquo;m a writer, designer, and programmer living in
					Philly.
				</p>
			</div>
			<div class="body flow">
				<section class="currently flow">
					<h2>Currently</h2>
					<ul>
						<li>
							Working as a UI Engineer at <a
								href="https://www.thinkcompany.com"
								>Think Company</a
							>
						</li>
						<li>
							Training to walk the <a
								href="https://en.wikipedia.org/wiki/Camino_de_Santiago"
								>Camino de Santiago</a
							>
						</li>
						<li>
							Hacking on <a href="/wiki/sadie"
								>programming languages</a
							>
						</li>
					</ul>
				</section>
			</div>
		</div>
	</div>
</Layout>

<style>
	.intro {
		--flow-space: var(--space-s);
	}

	.body {
		--flow-space: var(--space-l);
		margin-top: var(--space-l-xl);
	}

	.body > * {
		--flow-space: var(--space-m);
	}
</style>
