extends ../base

include ../html-head
include ../case-study
include ../aspect-ratio
include ../link

block pageTitle
	+pageTitle(projects.findByHref("collegian-magazine-web").title)

block pageDescription
	+pageDescription(projects.findByHref("collegian-magazine-web").description)

block content
	- const project = projects.findByHref("collegian-magazine-web")
	+caseStudy(project)
		+caseStudySegment
			h2#heading-summary 👉 Summary
			p
				| In 2017, the #[cite.title Collegian Magazine] team wanted a website
				| to share their articles online. I used a headless #[abbr(title="content management system") CMS],
				| #[+link()(href="https://prismic.io") Prismic], and a static site
				| generator, #[+link()(href="https://middlemanapp.com") Middleman], to
				| create a performant website that brought the #[cite.title Magazine&rsquo;s]
				| brand to the web and gave editors the flexibility to post a vast
				| array of content.
		+caseStudySegment
			h2#heading-links 🔗 Links
			p #[+link()(href=project.otherLinks.live) See the website]
		+caseStudySegment
			h2#heading-problem 🤔 The problem
			p
				| Since its first issue in 2014, the #[cite.title Collegian Magazine] has published
				| investigative journalism, longform articles, interviews, photo essays, and about
				| Kenyon, Knox County, and the surrounding area. The magazine won a Pacemaker Award
				| in 2015 for its print publication, but until 2017, the #[cite.title Magazine] had
				| no platform for sharing its stories online. Then-editor-in-chief Julia Waldow
				| approached me that year to design and build a custom website for the #[cite.title Magazine]
				| to reach its readers online.
			p
				| I knew my toughest challenge would be translating the #[cite.title Magazine]&rsquo;s
				| stories from print to digital. The #[cite.title Magazine] produces beautiful print
				| design with creative layouts, especially for its photo essays, that convey narratives
				| through visuals alone. I didn’t want to lose those stories in translation, so
				| so I prioritized flexibility and set out to find an interface that would allow editors
				| a high level of control over article layout.
		+caseStudySegment
			h2#heading-false-starts 🚫 False starts
		+caseStudySegment
			h2#heading-result 💡 The solution
		+caseStudySegment
			h2#heading-what-would-improve 📈 What could be improved
