.o-mobile-grid {
	@media (min-width: 36em) {
		display: flex;
	}
}

.o-mobile-grid__item + .o-mobile-grid__item {
	margin-top: var(--spacing--lg--px);

	@media (min-width: 36em) {
		margin-top: 0;
		margin-left: var(--spacing--lg--px);
	}
}
