extends ../base

include ../html-head
include ../case-study
include ../aspect-ratio
include ../link

block pageTitle
	+pageTitle(projects.findByHref("kenyon-collegian-web").title)

block pageDescription
	+pageDescription(projects.findByHref("kenyon-collegian-web").description)

append styles
	style
		include ./kenyon-collegian-web.css

block content
	- const project = projects.findByHref("kenyon-collegian-web")
	+caseStudy(project)
		+caseStudySegment
			h2#heading-summary Summary
			p
				| To replace an outdated and buggy site for the #[cite.title Kenyon Collegian],
				| I designed and built a new website with improved accessibility, performance,
				| and user experience. The result is a professional and polished product that
				| better communicates the #[cite.title Collegian]'s commitment to accuracy,
				| clarity, and excellence.
		+caseStudySegment
			h2#heading-links Links
			p #[+link()(href=project.otherLinks.live) See the website]
		+caseStudySegment
			h2#heading-problem Understanding the problem
			p
				| In 2017, the #[cite.title Collegian] needed a new website. At the time,
				| the existing website looked outdated, was hard to navigate, and had the potential
				| to undermine the #[cite.title Collegian]’s reputation as a trustworthy
				| newspaper&mdash;the site even appeared in Google search results as potential malware.
		+caseStudySegment
			figure#figure-old-site
				img(src="./kenyon-collegian-web/old-site.png", alt="List of news articles on a web page. Screenshot.")
				figcaption The homepage of the previous website.
		+caseStudySegment
			p
				| I worked with the #[cite.title Collegian]’s executive staff&mdash;Bailey Blaker,
				| Lauren Eller, and Gabrielle Healy&mdash;over the summer and fall to design and
				| develop a revamped website that would work better for both Collegian staffers and readers.
			p
				| Because the project timeline spanned the summer and fall, the #[cite.title Collegian] staff
				| and I worked remotely for most of the process (I was off-campus in the fall semester). As a
				| result, good communication was crucial, and I made sure to clearly relay my reasoning, decisions,
				| and progress. I began the process with a #[+link()(href="https://paper.dropbox.com/doc/Site-Usability-Analysis--AdNUY_gPjSPhm6RncffF12U~AQ-yKmTaYpoVMgRe94sazrAi") usability analysis]
				| of the previous website, outlining the problem areas in need of a redesign.
			p
				| Next, I drew up #[+link()(href="https://www.figma.com/file/QNpMaWZf4fsbIicF4mocvxlp/Wireframes?node-id=0%3A1") wireframes]
				| of critical pages and
				| addressed how they would solve some of those problems. After the #[cite.title Collegian] editors approved the plan, I set about designing and developing the new website.
		+caseStudySegment({ variants: ['wide-left'] })
			figure#figure-wireframes
				+aspectRatio
					iframe(style="border: none;" width="800" height="450" title="Kenyon Collegian website wireframes" src="https://www.figma.com/embed?embed_host=share&url=https%3A%2F%2Fwww.figma.com%2Ffile%2FQNpMaWZf4fsbIicF4mocvxlp%2FWireframes%3Fnode-id%3D0%253A1" allow="fullscreen" priority="low" referrerpolicy="noreferrer")
				figcaption Initial wireframes for the homepage, category page, and search page
		+caseStudySegment
			h2#heading-result Implementing the redesign
			p
				| Because the #[cite.title Collegian] staff was already familiar with the WordPress interface
				| used in the previous site, I stuck with WordPress at the core of the new site. But on top
				| of WordPress, I used technologies like #[+link()(href="https://www.upstatement.com/timber/") Timber] and
				| #[+link()(href="https://www.advancedcustomfields.com/") Advanced Custom Fields] to create a custom
				| theme that would improve the user experience of both the readers navigating the site and
				| the staffers uploading and editing content.
		+caseStudySegment({ variants: ['wide-left', 'grey'] })
			figure
				img(src="./kenyon-collegian-web/homepage.png", alt="The Collegian home page. Screenshot.")
				figcaption The redesigned homepage gives editors greater control over which articles will be featured.
		+caseStudySegment({ variants: ['grey', 'flush'] })
			div.o-mobile-grid
				figure.o-mobile-grid__item
					img(src="./kenyon-collegian-web/multiple-authors.png", alt="An article on Collegian website with two authors, Betül Aydin and Becca Foley. Screenshot.")
					figcaption Editors can now also properly credit multiple authors in an article &mdash; a pain point on the old site.
				figure.o-mobile-grid__item
					img(src="./kenyon-collegian-web/category.png", alt="The arts category page on the Collegian website. Screenshot.")
					figcaption Following the redesign, the category page surfaces more detailed information to users, including subcategories.
		+caseStudySegment({ variants: ['wide-right', 'grey', 'flush'] })
			figure
				img(src="./kenyon-collegian-web/search.png", alt="The search results page on the Collegian website. Screenshot.")
				figcaption The new search results page puts the search bar at the top of the page for easy access.
		+caseStudySegment
			p
				| Along with the improvements to user experience and information architecture, I&rsquo;m proud of the
				| visual refresh I provided to the #[cite.title Colleigan]. Across the entire site, consistent spacing,
				| layout, color, and typography help to create a professional face for the newspaper.
		+caseStudySegment({ variants: ['double-wide'] })
			figure
				img(src="./kenyon-collegian-web/pages.png", alt="A collage of several pages on the Collegian website. Screenshots.")
		+caseStudySegment
			h2#heading-what-would-improve What could be improved
		+caseStudySegment
			h3 Article layouts
			p
				| To meet the project deadline, I designed just one template for articles, which works well 90% of the time. But when the #[cite.title Collegian]
				| publishes photo essays or other pieces more complex than a typcial article, the template stifles the online presentation.
				| (This is a problem I solved better with the #[+link()(href=projects.findByHref("collegian-magazine-web").href) Collegian Magazine website].)
				| If I had the time and resources, I would have created several different post types for photo galleries, magazine-like features,
				| and others as needed.
		+caseStudySegment
			h3 JavaScript and PHP quality
			p
				| When I began this project, I had never used PHP, was still learning JavaScript, and did not value automated
				| testing or test-driven development. As a result, the small pieces of functionality I wrote for this site
				| are brittle and hard to refactor. I abstracted unnecessarily in some cases, and didn&rsquo;t organize my code
				| well in others. For example, I wrote the code below to load and display articles in an infinite feed:
		+caseStudySegment
			figure
				script(src="https://gist.github.com/CMessinides/9703e90117c53bdbd5f94f21dd268750.js")
		+caseStudySegment
			p
				| This component is needlessly generic, relies on specific DOM attributes like #[code data-channel]
				| and #[code data-target] without documenting how and why they should be used, and mixes logic
				| with presentation details in a hard-to-read soup. Were I to tackle this project again today, I would
				| likely continue using vanilla JS &mdash; the required functionality on the #[cite.title Collegian] website
				| is not complex enough to require a library or framework &mdash; but I would incorporate what I&rsquo;ve learned
				| from using React, namely separating state changes from view updates. A lighter alternative to React,
				| like Preact or Svelte, could also be an option.
			p
				| And lastly, I would test! After using Jest in a few projects, I&rsquo;ve gotten far more comfortable
				| with testing JavaScript and testing code in general. (See the #[+link()(href=projects.findByHref("tipline").href) Kenyon Collegian tipline]
				| for an example of one of those better-tested projects.)
