.c-article {
	/*
		We break from BEM conventions within this context for ease of development.
		The fewer the class names and the shorter those class names are, the quicker
		we can draw up case study pages with common sense styles already in place.
	*/

	/* Used to number figures */
	counter-reset: figures;

	/*
		Keep paragraphs and captions to a readable line length and create small
		breaks before them.
	*/
	& p:not(:first-child),
	& figcaption {
		max-width: 36em;
		margin-top: var(--spacing--sm--rem);
	}

	/* Create large breaks after figures as well. */
	& figure img {
		display: block;
	}
	
	& figcaption {
		font-size: var(--font-size--sm);
		font-family: var(--font--mono);
		color: var(--color--grey-500);
		counter-increment: figures;

		&::before {
			content: "Fig. " counter(figures) ". ";
		}
	}
}
