.c-button {
	font-weight: 700;
	display: inline-flex;
	line-height: 1;
	padding: var(--spacing--sm--px) var(--spacing--md--px);
	border-radius: var(--radius--sm);
	cursor: pointer;
}

.c-button--primary {
	background-color: var(--color--accent-400);
	color: #ffffff;
}
