.l-case-study {
	margin-bottom: var(--spacing--xl--rem);
	margin-top: var(--spacing--xl--rem);
}

.l-case-study__container {

}

.l-case-study__description,
.l-case-study__details {
	margin-top: var(--spacing--md--rem);
}

.l-case-study__thumbnail {
	margin: var(--spacing--lg--rem) 0;
}

.l-case-study__details {
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
}

.l-case-study__detail-item {
	flex: 1 1 50%;
}

.l-case-study__body,
.l-case-study__segment + .l-case-study__segment:not(.l-case-study__segment--flush) {
	margin-top: var(--spacing--lg--rem);
}

.l-case-study__segment--grey {
	background-color: var(--color--grey-200);
	padding-top: var(--spacing--lg--rem);
	padding-bottom: var(--spacing--lg--rem);

	& + .l-case-study__segment--grey {
		padding-top: 0;
	}
}

@supports (display: grid) {
	@media (min-width: 52em) {
		.l-case-study__container {
			display: grid;
			grid-template-columns: 1fr 3fr 1fr;
			grid-gap: var(--spacing--lg--px);
			max-width: var(--width--2xl);
		}

		.l-case-study__description,
		.l-case-study__thumbnail,
		.l-case-study__details {
			margin: 0;
		}

		.l-case-study__title {
			grid-column: span 3;
			font-size: var(--font-size--3xl);
		}

		.l-case-study__thumbnail {
			grid-row: 2 / span 2;
			grid-column: 2 / span 2;
		}

		.l-case-study__details {
			display: block;
			align-self: end;
		}

		.l-case-study__body .l-case-study__container {
			grid-row-gap: 0;

			& > * {
				grid-column: 2;
			}
		}

		.l-case-study__segment--wide-left .l-case-study__container > * {
			grid-column: span 2;
		}

		.l-case-study__segment--wide-right .l-case-study__container > * {
			grid-column: 2 / span 2;
		}

		.l-case-study__segment--double-wide .l-case-study__container > * {
			grid-column: span 3;
		}
	}

	@media (min-width: 60em) {
		.l-case-study__title {
			font-size: var(--font-size--4xl);
		}
	}
}
