.c-footer
	.o-container
		aside.c-footer__contact-prompt.c-contact-prompt
			h2.c-contact-prompt__heading
				span.c-contact-prompt__indicator(aria-hidden="true")
				| I&rsquo;m available.
			p.c-contact-prompt__blurb If you have a project or opportunity that sounds like a good fit, please don&rsquo;t hesitate to get in touch.
			dl.c-contact-prompt__details
				dt.u-sr-only Email
				dd.c-contact-prompt__detail me@cmessinides.com
				dt.u-sr-only Phone
				dd.c-contact-prompt__detail +1 (803) 729-0177
			a.c-contact-prompt__cta.c-button.c-button--primary(href="mailto:me@cmessinides.com") Email me
	footer.c-footer__info
		.o-container.c-footer__container
			small.c-footer__copyright Copyright &copy; 2019 Cameron Messinides
			a.c-link.c-footer__social-link(href="https://github.com/cmessinides" target="_blank" rel="noreferrer") Github
			a.c-link.c-footer__social-link(href="https://codepen.io/cmessinides" target="_blank" rel="noreferrer") Codepen
			a.c-link.c-footer__social-link(href="https://linkedin.com/in/cameron-messinides" target="_blank" rel="noreferrer") LinkedIn
