@keyframes blink {
	0% {
		color: var(--color--accent-400)
	}

	100% {
		color: var(--color--grey-300);
	}
}

.c-header {
	padding: var(--spacing--md--rem) 0;
	line-height: 1;
}

.c-header__link--home {
	font-weight: 700;
}

.c-header__link--home::before {
	content: '█ ';
	color: var(--color--accent-400);
}

.c-header__link--home:hover::before {
	animation: blink 900ms linear infinite alternate both;
}
