.c-home-hero {
	padding: var(--spacing--xl--rem) 0 var(--spacing--lg--rem);
}

.c-home-hero__blurb {
	max-width: 36em;
	margin-top: var(--spacing--sm--rem);
	
	@media (min-width: 48em) {
		font-size: var(--font-size--lg);
	}

	@media (min-width: 60em) {
		font-size: var(--font-size--xl);
	}
}
