extends ./base

include ./project-summary
include ./writing-summary

block content
	main.l-homepage
		article
			header.c-home-hero
				.o-container.c-home-hero__container
					.c-home-hero__intro
						h1.o-heading--1.c-home-hero__heading Hey there, I&rsquo;m Cameron. 
						p.c-home-hero__blurb
							| I&rsquo;m a writer, designer, and web developer.
							| I&rsquo;m passionate about journalism and interested in
							| telling stories through words, visuals, data, and&nbsp;code.
			section.c-home-section.c-home-section--projects
				.o-container.c-home-section__container
					h2.o-heading.o-heading--3 Projects
					ul.c-home-section__grid.o-container.o-container--narrow.o-container--flush
						each project in projects
							li.c-home-section__item
								+projectSummary(project)
			section.c-home-section.c-home-section--writing
				.o-container.c-home-section__container
					h2.o-heading.o-heading--3 Writing
					ul.c-home-section__grid.o-container.o-container--narrow.o-container--flush
						each sample in writing
							li.c-home-section__item
								+writingSummary(sample)
