extends ../lib/base

block styles
	link(rel="stylesheet", href="style.css")

block content
	h1 Hello world!
	a(href="work/kenyon-collegian-web/index.pug") Kenyon Collegian website

block scriptsBody
	script(src="./index.ts")
