.c-project-gallery__list {
	@media (--window--sm) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
	}
}

.c-project-gallery__item + .c-project-gallery__item {
	margin-top: var(--spacing--md--rem);

	@media (--window--sm) {
		margin-top: 0;
	}
}
