include ./summary

mixin projectSummary({ title, description, href, thumbnailSrc, category, date, variants, level = 3 } = {})
	- let classes = ['c-summary--project']
	if variants
		- classes = classes.concat(variants.map(v => `c-summary--${v}`))
	+summary(href)(class=classes)
		header.c-summary__header
			+summaryHeading(level)= title
			+summaryDescription= description
		+summaryThumbnail(thumbnailSrc)
		+summaryDetails
			+summaryDetail('Category')= category
