include ./summary

mixin projectSummary({ title, description, href, linkType, thumbnailSrc, category, date, variants, level = 3 } = {})
	- let classes = ['c-summary--project']
	if variants
		- classes = classes.concat(variants.map(v => `c-summary--${v}`))
	+summary()(class=classes)
			+summaryLink(href)
				if thumbnailSrc
					+summaryThumbnail(thumbnailSrc)
				+summaryDetails
					+summaryDetail('Type')= linkType
					+summaryDetail('Category')= category
				+summaryHeading(level)= title
				+summaryDescription= description
