aside.c-home-hero__social.c-social
	h2.c-social__heading Elsewhere on the web
	ul.c-social__list
		li.c-social__item
			a.c-social__link(href="mailto:me@cmessinides.com") Email me
		li.c-social__item
			a.c-social__link(href="https://github.com/cmessinides") Github
		li.c-social__item
			a.c-social__link(href="https://codepen.io/cmessinides") Codepen
		li.c-social__item
			a.c-social__link(href="https://linkedin.com/in/cameron-messinides/") LinkedIn
