include ./heading

mixin summary(href)
	article.c-summary&attributes(attributes)
		a.c-summary__link(href=href)
			if block
				block

mixin summaryHeading(level=3)
	+heading(level)(class="c-summary__heading")&attributes(attributes)
		if block
			block

mixin summaryDescription
	p.c-summary__description&attributes(attributes)
		if block
			block

mixin summaryThumbnail(src)
	img.c-summary__thumbnail(src=src alt="" aria-hidden="true")&attributes(attributes)

mixin summaryDetails
	dl.c-summary__details&attributes(attributes)
		if block
			block

mixin summaryDetail(label)
	dt.u-sr-only= label
	dd.c-summary__detail&attributes(attributes)
		if block
			block
