:root {
	--color--grey-900: rgb(24, 25, 31);
	--color--grey-500: rgb(112, 112, 124);
	--color--grey-300: rgb(184, 184, 197);
	--color--grey-200: rgb(237, 237, 238);
	--color--main-900: hsl(153, 24%, 15%);
	--color--main-200: hsl(154, 39%, 81%);
	--color--main-100: hsl(155, 38%, 89%);
	--color--accent-400: hsl(256, 86%, 54%);
	--color--accent-200: hsl(256, 100%, 77%);

	--font--sans: 'Libre Franklin', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font--mono: 'Fira Mono', Menlo, Consolas, 'Courier New', Courier, monospace;

	--font-size--xs: 0.75rem;
	--font-size--sm: 0.875rem;
	--font-size--md: 1rem;
	--font-size--lg: 1.125rem;
	--font-size--xl: 1.25rem;
	--font-size--2xl: 1.75rem;
	--font-size--3xl: 2.5rem;
	--font-size--4xl: 3.5rem;
	--font-size--5xl: 5rem;

	--leading--normal: 1.5;
	--leading--tight: 1.25;

	--tracking--wide: 0.05em;

	--radius--sm: 4px;
	--radius--md: 8px;

	--spacing--xs--px: 4px;
	--spacing--sm--px: 8px;
	--spacing--md--px: 16px;
	--spacing--lg--px: 32px;
	--spacing--xl--px: 64px;
	--spacing--2xl--px: 128px;
	--spacing--3xl--px: 256px;

	--spacing--xs--rem: 0.25rem;
	--spacing--sm--rem: 0.5rem;
	--spacing--md--rem: 1rem;
	--spacing--lg--rem: 2rem;
	--spacing--xl--rem: 4rem;
	--spacing--2xl--rem: 8rem;
	--spacing--3xl--rem: 16rem;

	--width--sm: 20rem;
	--width--md: 30rem;
	--width--lg: 40rem;
	--width--xl: 50rem;
	--width--2xl: 72rem;
}
